<?xml version="1.0" ?>
<launch>
	<arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>
	<arg name="robot0_x_pos" default="-6.7"/>
	<arg name="robot0_y_pos" default="7.0"/>
	<arg name="robot0_z_pos" default="0.0"/>
	<arg name="robot0_gravity" default="false"/>
	<arg name="robot1_x_pos" default="-6.8"/>
	<arg name="robot1_y_pos" default="5.8"/>
	<arg name="robot1_z_pos" default="0.0"/>
	<arg name="robot1_gravity" default="false"/>
	<include file="$(find gazebo_ros)/launch/empty_world.launch">
		<arg name="world_name" value="$(find turtlebot3_gazebo)/worlds/turtlebot3_level4.world"/>
		<arg name="paused" value="false"/>
		<arg name="use_sim_time" value="true"/>
		<arg name="gui" value="true"/>
		<arg name="headless" value="false"/>
		<arg name="debug" value="false"/>
	</include>
	<group ns="robot0">
		<param name="robot_description" command="$(find xacro)/xacro --inorder $(find turtlebot3_description)/urdf/turtlebot3_$(arg model).urdf.xacro"/>
		<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen">
			<param name="publish_frequency" type="double" value="50.0"/>
			<param name="tf_prefix" value="robot0"/>
		</node>
		<node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-urdf -model robot0 -x $(arg robot0_x_pos) -y $(arg robot0_y_pos) -z $(arg robot0_z_pos) -param robot_description"/>
	</group>
	<group ns="robot1">
		<param name="robot_description" command="$(find xacro)/xacro --inorder $(find turtlebot3_description)/urdf/turtlebot3_$(arg model).urdf.xacro"/>
		<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen">
			<param name="publish_frequency" type="double" value="50.0"/>
			<param name="tf_prefix" value="robot1"/>
		</node>
		<node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-urdf -model robot1 -x $(arg robot1_x_pos) -y $(arg robot1_y_pos) -z $(arg robot1_z_pos) -param robot_description"/>
	</group>
</launch>
